.App {
  text-align: center;
  background-color: silver;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media only screen and (mid-width: 600px) {
  .articleList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 25vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.homePage {
  margin-bottom: 100%;
  background-color: silver;
}


.articleList {
  background-color: slategrey;
  min-height: 400px;
  margin-bottom: 100px;
  clear: both;
}

.articleCard {
  width: 300px;
  height: 385px;
  background-color: rgb(209, 213, 216);
  border: 1px solid black;
  display: inline-block;
  vertical-align: top;
  margin: 2px
  
}

/* .singleArticlePage {
  
} */

.singleArticleCard {
  width: 100%;
  height: 445px;
  background-color: rgb(209, 213, 216);
  border: 1px solid black;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 100%;
}

.commentCard {
  width: 500px;
  height: 350px;
  background-color: rgb(209, 213, 216);
  border: 1px solid black;
  display: inline-block;
  vertical-align: top;
  margin: 2px
  
}


.article_id {
  list-style: none;
  
}
.article_title {
  
  list-style: none;
}

.article_topic {
  
  list-style: none;
}

.article_author {
  list-style: none;
}

.article_body {
  list-style: none;
  background-color: lightblue;
  width: auto;
  height: 110px;
  overflow: scroll;
  margin: 30px
}

.article_comment_count {
  list-style: none;
}

.article_votes {
  list-style: none;
}


.topicsPage {
  width: 500px;
  height: 300;
  background-color: slategray;
  border: 1px solid black;
  display: inline-block;
  vertical-align: top;
  margin: 2px
}

.topic_desc {
  list-style: none;
}

.topic_slug {
  list-style: none;
}

.topicsList {
  background-color: slategrey
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}