.App {
  text-align: center;
  background-color: silver;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.articlePage {
  width: 500px;
  height: 1fr 1fr 1fr;
  background-color: slategray;
  border: 1px solid black;
  display: inline-block;
  vertical-align: top;
  margin: 2px
  
}

.article_id {
    list-style: none;
    
}
.article_title {

  list-style: none;
}

.article_topic {

  list-style: none;
}

.article_author {
  list-style: none;
}

.article_body {
  list-style: none;
  background-color: lightblue;
  width: 435px;
  height: 110px;
  overflow: scroll;
}

.article_comment_count {
  list-style: none;
}

.article_votes {
  list-style: none;
}
